{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Expenses</li>
        </ol>
      </nav>
<div class="card">
    <div class="card-body">
<form action="{% url 'add-expenses' %}" method="post">
    {% include 'partials/_messages.html'%}
    {% csrf_token %}
        <div class="form-group">
            <label for="Amount">Amount</label>
            <input type="number" name="amount" placeholder="Amount" class="form-control form-control-sm" value="{{values.amount}}"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" placeholder="Description" class="form-control form-control-sm" value="{{values.description}}" />
        </div>
        <div class="form-group">
            <label for="Amount">Category</label>
            <select class="form-control" name="category">

                {% for category in categories %}
                    <option name="category" value="{{category.name}}">{{category.name}}</option>
                {% endfor %}
            </select>
           
        </div>
        <div class="form-group">
            <label for="expence_date">Date of Expence</label>
            <input type="date" name="date" placeholder="date" class="form-control form-control-sm" />
        </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary btn-primary-sm" />
</form>
</div>
</div>




{% endblock %}   